/* General Styles */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f2f8fb; /* Brighter blue background */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* Center horizontally */
  padding: 0 15px;
  text-align: center; /* Center the content */
}


/* Header Styles */

header {
  background-color: #fff; /* White header */
  border-bottom: 1px solid #ddd; /* Light gray border */
  padding: 20px 0;
}

.logo {
  font-size: 1.5rem;
  color: #ff7f0e; /* Bright orange logo color */
  text-decoration: none;
}

/* Navbar Styles */

.navbar {
  text-align: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 15px;
}

.navbar a:hover {
  color: #ff7f0e; /* Hover color - matching the logo */
  background-color: #fff; /* Hover background color */
  border-radius: 5px;
}

/* Product Styles */

.product {
  background-color: #fff; /* White product background */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.product img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 20px;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.1rem;
  color: #333;
}

.product-description {
  font-size: 0.9rem;
  color: #666;
}

/* Footer Styles */

footer {
  background-color: #f2f8fb; /* Brighter blue footer background */
  border-top: 1px solid #ddd; /* Light gray border */
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

/* Button Styles */

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff7f0e; /* Bright orange button */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ff9933; /* Slightly lighter shade for hover effect */
}

/* Cart Styles */

.cart {
  position: fixed;
  left: 20px; /* Move to the left side of the viewport */
  top: 20px; /* Adjust as needed */
  background-color: #ff7f0e; /* Bright orange background */
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other content */
}

.cart:hover {
  background-color: #ff9933; /* Slightly lighter shade for hover effect */
}

.cart-content {
  max-height: 200px; /* Set the maximum height of the cart content */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
}

